apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: pedidos-veloz
spec:
  selector:
    app: gateway
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
  type: NodePort
