apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-nginx-config
  namespace: pedidos-veloz
data:
  default.conf: |
    server {
      listen 80;

      location /orders/ {
        proxy_pass http://orders:8000/;
      }

      location /payments/ {
        proxy_pass http://payments:8000/;
      }

      location /inventory/ {
        proxy_pass http://inventory:8000/;
      }

      location / {
        return 200 "gateway ok\n";
      }
    }
